.results {
    text-align: start;
}
p::first-letter {
    text-transform: uppercase;
}
input {
    padding: 10px 200px;
    border-radius: 5px;
}
@media (max-width: 800px) {
    input {
        width: 50%;
        margin: 0;
        padding: 0;    
    }
    .results {
        text-align: center;
    }
}
