.images img {
    width: 250px;
    border-radius: 5px;
}
.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
@media (max-width: 800px) {
    .images {
        grid: none;
    }
    .images img {
        width: 250px;
    }
}